@model object

@{
    ViewBag.Title = "Интерфейс администратора";
    Layout = "Admin/_Layout";
}

<h2>Модели</h2>

<ul>
    <li><a href="/admin/ingredients/">Ингредиенты</a></li>
    <li><a href="/admin/dishes/">Меню</a></li>
    @* <li><a href="/admin/users/">Пользователи</a></li> *@
    <li><a href="/admin/customers/">Информация о заказчиках</a></li>
    <li><a href="/admin/orders/">Заказы</a></li>
</ul>
